
@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/ProximaNova-Regular.otf'); /* IE9 Compat Modes */
  src: url('/assets/ProximaNova-Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/ProximaNova-Regular.otf2') format('otf2'), /* Super Modern Browsers */
       url('/assets/ProximaNova-Regular.otf') format('otf'), /* Pretty Modern Browsers */
       url('/assets/ProximaNova-Regular.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/assets/ProximaNova-Regular.otf') format('svg'); /* Legacy iOS */
	  
}


/*Overrighting original style.css, please change class name*/

.paddingzero {
    padding: 0;
}
a:hover {
    color: #F4511E;
}
.header-10-sub {
    height: 400px !important;
    z-index: 1;
}
.form-control {
    border: 1px solid #bdc3c7;
    color: #34495e;
    border-radius: 2px;
}
.btn-defulat {
    border-radius: 2px;
}
.btn-travel {
    background: #E64A19;
    color: #FFF;
    border-radius: 3px;
    padding: 10px 40px;
    border: 1px solid #BF360C;
    font-size: 16px;
}
.btn-travel:hover {
    background: #BF360C;
    color: #FFF;
}
footer p {
    color: #FFF;
}




textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    color: #000;
}
/*Overrighting original style.css, please change class name*/
/*Overrighting original header.css*/

.navbar-form .form-control {
    border-radius: 1px;
}



/*----------------------------------------------------------CHECKBOX----------------------------------------------------------*/
@font-face {
    font-family: 'icomoon';
    src: url('/assets/icomoon.eot?-9gqvx');
    src: url('/assets/icomoon.eot?#iefix-9gqvx') format('embedded-opentype'), url('/assets/icomoon.ttf?-9gqvx') format('truetype'), url('/assets/icomoon.woff?-9gqvx') format('woff'), url('/assets/icomoon.svg?-9gqvx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-size: 24px;
    color: #555;
    color: black;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-simple-tick:before {
    content: "\e913"
}
.icon-asean:before {
    content: "\e900"
}
.icon-calendar2:before {
    content: "\e901"
}
.icon-cimb_symbol_bw .path1:before {
    content: "\e902";
    color: #333
}
.icon-cimb_symbol_bw .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: #fff
}
.icon-cimb_symbol_bw .path3:before {
    content: "\e904";
    margin-left: -1em;
    color: #848484
}
.icon-cimb_symbol_colour .path1:before {
    content: "\e905";
    color: #fff
}
.icon-cimb_symbol_colour .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: #e2231a
}
.icon-cimb_symbol_colour .path3:before {
    content: "\e907";
    margin-left: -1em;
    color: #7b303e
}
.icon-downloads:before {
    content: "\e908"
}
.icon-local:before {
    content: "\e909"
}
.icon-mobileEmail:before {
    content: "\e90a"
}
.icon-overseas:before {
    content: "\e90b"
}
.icon-repeat:before {
    content: "\e90c"
}
.icon-star:before {
    content: "\e90d"
}
.icon-succesful:before {
    content: "\e90e"
}
.icon-TAC:before {
    content: "\e90f"
}
.icon-transactionhistory:before {
    content: "\e910"
}
.icon-aboutUs:before {
    content: "\e911"
}
.icon-currency:before {
    content: "\e912"
}
.icon-closeslim:before {
    content: "\e620"
}
.icon-register:before {
    content: "\e621"
}
.icon-login:before {
    content: "\e622"
}
.icon-language:before {
    content: "\e61c"
}
.icon-backtotop:before {
    content: "\e61b"
}
.icon-loan:before {
    content: "\e619"
}
.icon-menu:before {
    content: "\e61a"
}
.icon-accountcard:before {
    content: "\e616"
}
.icon-alert .path1:before {
    content: "\e611";
    color: #000
}
.icon-alert .path2:before {
    content: "\e612";
    margin-left: -1em;
    color: #fff
}
.icon-alert .path3:before {
    content: "\e613";
    margin-left: -1em;
    color: #fff
}
.icon-backarrow:before {
    content: "\e614"
}
.icon-bg_secure:before {
    content: "\e617"
}
.icon-calendar:before {
    content: "\e615"
}
.icon-closes:before {
    content: "\e618"
}
.icon-demo:before {
    content: "\e61d"
}
.icon-download:before {
    content: "\e61e"
}
.icon-fingerprint:before {
    content: "\e61f"
}
.icon-locator:before {
    content: "\e644"
}
.icon-lock:before {
    content: "\e645"
}
.icon-mailbox:before {
    content: "\e646"
}
.icon-octosend:before {
    content: "\e647"
}
.icon-pen:before {
    content: "\e648"
}
.icon-phone:before {
    content: "\e649"
}
.icon-search2:before {
    content: "\e65a"
}
.icon-success:before {
    content: "\e663"
}
.icon-tac .path1:before {
    content: "\e664";
    color: #171516
}
.icon-tac .path2:before {
    content: "\e665";
    margin-left: -1em;
    color: #322e30
}
.icon-tac .path3:before {
    content: "\e666";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path4:before {
    content: "\e667";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path5:before {
    content: "\e668";
    margin-left: -1em;
    color: #e0272d
}
.icon-tac .path6:before {
    content: "\e669";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path7:before {
    content: "\e66a";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path8:before {
    content: "\e66b";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path9:before {
    content: "\e66c";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path10:before {
    content: "\e66d";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path11:before {
    content: "\e66e";
    margin-left: -1em;
    color: #e0272d
}
.icon-tac .path12:before {
    content: "\e66f";
    margin-left: -1em;
    color: #e0272d
}
.icon-tac .path13:before {
    content: "\e670";
    margin-left: -1em;
    color: #e0272d
}
.icon-tacmobile:before {
    content: "\e671"
}
.icon-tick:before {
    content: "\e686"
}
.icon-wallet:before {
    content: "\e601"
}
.icon-info:before {
    content: "\e602"
}
.icon-account:before {
    content: "\e603"
}
.icon-apply:before {
    content: "\e604"
}
.icon-help:before {
    content: "\e605"
}
.icon-investment:before {
    content: "\e606"
}
.icon-logout:before {
    content: "\e607"
}
.icon-paytransfer:before {
    content: "\e608"
}
.icon-request:before {
    content: "\e609"
}
.icon-reward:before {
    content: "\e60a"
}
.icon-settings:before {
    content: "\e60b"
}
.icon-topup:before {
    content: "\e60c"
}
.icon-wall:before {
    content: "\e60d"
}
.icon-moreaction:before {
    content: "\e60e"
}
.icon-notifications:before {
    content: "\e60f"
}
.icon-search:before {
    content: "\e610"
}
.icon-arrow_up:before {
    content: "\e600"
}

/*----------------------------------------------------------HEADER----------------------------------------------------------*/
/*the logo*/

.header-10 .navbar .brand {
    margin-top: -9px;
    padding-top: 0;
}
/*the whole header*/

.header-10 .navbar .nav > li > a {
    color: #757575;
}
.header-10 .navbar .nav > li > a:hover {
    color: #212121;
}
/*the search bar*/

.navsearch {
    border: 1px solid #c4c4c4;
    border-radius: 1px;
        width: 440px;
}
.navsearch-form {
    position: absolute;
    left: 141px;
    top: -3px;
    display: block;
}
/*dropdown start*/
/*when it's clicked active*/

.sidebarprofile img {
    margin-left: 0; margin-right: 10px; border: 1px solid #E0E0E0;
        width: 40px;
    height: 40px;
}

.dropdownselectactive img {
    margin-left: 20px;border: 1px solid #E0E0E0;
        width: 40px;
    height: 40px;
}
.header-10 .navbar .nav > li > a.dropdownselectactive {
    padding: 20px 0 18px;
    background: #FFF;
}
/*when it's clicked active*/
/*when it's hover dropdown*/

.trending-list.open > .dropdown-menu {
    margin-top: -1px !important;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	z-index: 999;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    border-radius: 0;
    color: #000;
    background: #fafafa;
	z-index: 999;
}
.dropdown-menu li:first-child > a {
    border-radius: 0;
    padding: 15px 0 15px 15px;
}
.dropdown-menu li:last-child > a {
    border-radius: 0;
    padding: 15px 0 15px 15px;
}
.dropdown-menu li > a {
    color: rgba(52, 73, 94, 0.75);
    padding: 15px 0 15px 15px;
}
#color-dropdown-menu {
        height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
/*when it's hover dropdown*/

.dropdownx {
    margin-top: -17px !important;
}
ul.dropdownx li {
    /*padding: ;*/
}
ul.dropdownx li a {
    padding: 15px 0;
}
/*dropdown end*/
/*----------------------------------------------------------LANDING----------------------------------------------------------*/

.btn.btn-success.btn-search {
    padding: 10px 30px;
    border: 1px solid #BF360C;
    font-size: 16px;
}
.location-search .dropdown-toggle.drop-places {
    padding: 10px 15px;
    background: #FFF;
    border-radius: 0;
    margin-top: -9px;    border-right: 1px solid #cccccc;
}
.location-search .dropdown-toggle.drop-places:hover {
    background: #FFF;
}



.img-holder-wide { width:709px; height:344px;    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid #F5F5F5;
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01), 0 0 0 1px #DBDBDC;
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01), 0 0 0 1px #DBDBDC;
    -moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01), 0 0 0 1px #DBDBDC;}
.img-holder-wide img{     height: auto;
    max-width: inherit;
    position: relative;}


.location-search .input-location {
       width: 352px;
    margin-left: -40px;
    margin-bottom: 10px;
    height: 42px;border-right:0;box-shadow: none;
}
    /* Large desktops and laptops */
@media (min-width: 1200px) {


.location-search .form-control { border:0;}

.location-search .input-location {
       width: 352px;
    margin-left: -40px;
    margin-bottom: 10px;
    height: 42px;border-right:0;box-shadow: none;
}


.form-control.input-global {
    width: 301px;
    margin-left: -186px;
    border-radius: 0;
    height: 42px;
    border: 0;
    }



}
    
    /* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .content-23.hero-unit h1 {
    font-size: 30px;
    }
.location-search .input-location {
    width: 100%;
    border-right:0;
   /* margin-left: -40px;*/
    margin-bottom: 10px;box-shadow: none;
    height: 42px;
}
.form-control.input-global {
    width: 579px;
    margin-left: 0;
    border-radius: 0;
    height: 42px;
    border: 0;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.content-8.v-center.landing-explore {
   margin-left: -17px
}



.img-holder-wide {
    width: 348px;
    height: 344px;
    border: 1px solid #F5F5F5;
    overflow: hidden;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01), 0 0 0 1px #DBDBDC;
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01), 0 0 0 1px #DBDBDC;
    -moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01), 0 0 0 1px #DBDBDC;
}
.img-holder-wide img {
    height: auto;
    /*width: 100%;*/
    position: relative;
}



.content-8 h3 {
    margin: 10px 60px 40px -325px;
}
.content-7 h3 {
    font-size: 23px !important;
}
.content-8 h3 {
    margin: 10px 10px 40px 0px;
}
.location-search .input-location {
        width: 274px;
    margin-left: -15px;
    margin-bottom: 10px;    border: 0;
    height: 42px; box-shadow: none;
}
.input-global {
           height: 42px;
       width: 313px;
    margin-bottom: 10px;
    }


.btn.btn-success.btn-search {
    width: 315px;    margin-left: -15px;
}
.location-search .dropdown-toggle.drop-places {
    padding: 10px 15px;
    margin-top: -9px;
}
}






.img-holder {
    width: 350px;
    height: 343px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01), 0 0 0 1px #DBDBDC;
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01), 0 0 0 1px #DBDBDC;
    -moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01), 0 0 0 1px #DBDBDC;
}
.img-holder img {
    height: auto;
        max-width: inherit;
    position: relative;
}






/*exist in header.css*/

.header-10.navbar.brand {
    margin-top: -9px;
    padding-top: 0;
}
.header-10 .navbar.nav > li > a {
    color: #000;
}
/*exist in header.css*/

.content-23 {
    height: 514px;
}
.content-23 #bgVideo > video {
    /*height:0; width:0;*/
}
.btn-search {
    border-radius: 1px;
    margin-left: -4px;
    background: #FF5722;
}
.btn-search:hover {
    background: #BF360C;
}
/*existing style*/
/*the dropdown*/

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
/*the dropdown*/

.trending-list {
    width: 235px;
    display: inline;
}
.trending-list a {
    border-bottom: 2px dashed #F4511E;
    color: #F4511E;
}
.trending-list a:hover {
    color: #BF360C;
}
.select-trending {
    border-bottom: 1px dashed #30a0ff;
}
ul.dropdown-menu {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    z-index: 999;
}

.dropdown-menu {
    top:40px;
}

.profilex .dropdown-menu {
    top:75px;
}
.trending-list .dropdown-menu > li > a {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    color: #000;
    text-align: left;
}
section * {
    z-index: auto;
}
/*explore landing user center*/

.user-thumb-center {
    border: 2px solid #FFF;
    height:56px; width:56px;
}
.explore-center-detail {
    position: absolute;
    top: 130px;
    left: 70px;
    z-index:99;
}
.explore-center-detail a {
    text-align: center;
    color: #FFF;
}
.explore-center-detail a:hover {
    color: #F4511E;
}
.explore-center-detail .text-over-center-user {
    font-size: 14px;
    line-height: 20px;
}
.explore-center-detail .text-over-center-place {
    font-size: 24px;
    line-height: 26px;
}
/*explore landing user center*/
/*existing style*/

.navbar .navbar-toggle {
    margin: 26px 0 10px;
    color: white;
    background: none;
    padding: 0;
    width: 30px;
    height: 30px;
    background: url("/assets/common-files/icons/menu-icon-header-8.png") 50% no-repeat;
}
/*exist in header.css*/

.header-10 .navbar .brand {
    margin-top: -9px;
    padding-top: 0;
}
.header-10 .navbar .nav > li > a {
    color: #000;
}
/*exist in header.css*/

.content-8.v-center.landing-explore {
    padding-top: 40px;
    padding-bottom: 180px;
}
.content-7.landing-trending {
    padding-top: 80px;
    padding-bottom: 20px;
}
.product-card p.price {
    background: rgba(60, 63, 64, 0.9);
    min-width: 100px;
    padding: 6px 16px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 267px;
    z-index: 99;
}
.discount {
    font-size: 16px;
    color: #CCC;
}
.user-thumb {
    position: absolute;
    top: 330px;
    left: 302px;
    z-index: 99;
    width: 52px;
    height: 52px;
}
.product-card {
    margin-bottom: 20px;
    position: relative;
}
.product-card p {
    font-size: 16px;
    font-weight: normal;
    color: #7f8c8d;
    margin-bottom: 20px;
}
.product-card h4 a {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: #34495e;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    margin-top: 70px;
}
.product-card h4 {
    margin-bottom: 0;
}
.content-23 {
    height: 514px;
}
.content-23 #bgVideo > video {
    /*height:0; width:0;*/
    
    ;
}
.background {
    opacity: 0.5;
}
.form-control {
    border: 0;
    border-radius: 1px;
}
.btn-search {
    border-radius: 1px;
    margin-left: -4px;
    background: #FF5722;
}
.btn-search:hover {
    background: #BF360C;
}
.content-23 #bgVideo > video {
    position: absolute !important;
    top: -140px !important;
}

.input-group-btn {
    position: static;
}
.dropdown-menu {} .input-group-btn .drop-places {
    border-radius: 1px;
    background: #FFF;
}
.input-group-btn .drop-places:hover,
active {
    background: #FFF;
}
.btn-default .caret {
    border-top-color: #CCC;
}
.input-group-btn .drop-places {
    border-radius: 1px;
    background: #FFF;
}
.input-group-btn .drop-places:hover,
active {
    background: #FFF;
}
.btn-default .caret {
    border-top-color: #CCC;
}
.location-search .dropdown-menu {
    background-color: #FFF;
    border-radius: 0;
    width:391px;text-align:left;
        margin-left: -40px; margin-top:0;
}


.global-search .dropdown-menu {
    background-color: #FFF;
    border-radius: 0;
        width: 303px;text-align:left;
    margin-left: -187px; margin-top:0;
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.location-search .dropdown-menu {
    background-color: #FFF;
    border-radius: 0;
    width:579px; text-align:left;
            margin-left: -1px; margin-top:0;
}

.global-search .dropdown-menu {
     background-color: #FFF;
    border-radius: 0;
    width: 581px;
    text-align: left;
    margin-left: -1px;
    margin-top: 0;
}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.location-search .dropdown-menu {
    background-color: #FFF;
    border-radius: 0;
    width:579px; text-align:left;
         margin-left: -1px; margin-top:0;
}

.global-search .dropdown-menu {
     background-color: #FFF;
    border-radius: 0;
    width: 581px;
    text-align: left;
    margin-left: -1px;
    margin-top: 0;
}

}
/* Portrait phones and smaller */
@media (max-width: 480px) {
.location-search .dropdown-menu {
    background-color: #FFF;
    border-radius: 0;
    width:313px;
        margin-left: -15px; margin-top:0;
}

.global-search .dropdown-menu {
     background-color: #FFF;
    border-radius: 0;
    width: 313px;
    text-align: left;
    margin-left: -1px;
    margin-top: 0;
}

}


.location-search .dropdown-menu li > a:hover,
.dropdown-menu li > a:active,
.dropdown-menu li > a:focus {
    color: #000;
}

.location-search {
    margin-top: 1px;
}

.location-search .dropdown-menu li > a:hover,
.dropdown-menu li > a:active,
.dropdown-menu li > a:focus {
    color: #000;
}


.location-search .open > .dropdown-menu {
    margin-top: 0px !important;
    text-align: left;
    width: 391px;
    border: 0;
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.location-search .open > .dropdown-menu {
    margin-top: 0px !important;
    text-align: left;
    width: 578px;
    left: 1px;
    border: 0;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.location-search .open > .dropdown-menu {
    margin-top: 0px !important;
    text-align: left;
    width: 578px;
    left: 1px;
    border: 0;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.location-search .open > .dropdown-menu {
    margin-top: 0px !important;
    text-align: left;
    width: 273px;
    left:0px;
    border: 0;
}
}



/*existing style*/
/*content-8*/

.wide-text-over {
    position: absolute;
    top: 150px;
    left: 320px;
    z-index: 99;
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
}
.wide-text-over:hover {
    color: #FF5722;
}
/* Portrait phones and smaller */

@media (max-width: 480px) {
    .wide-text-over {
        top: 180px;
    left: 135px;
    position: absolute;
    
    z-index: 99;
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
    }
}
.text-over {
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: 99;
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
}
.text-over:hover {
    color: #FF5722;
}
.explorestacks {
    padding: 15px 15px;
}
/*content-8*/
/*------------------------------------------------------Footer------------------------------------------------------*/

.norton {    padding: 0;
    margin-top: 10px;}

/* Large desktops and laptops */
@media (min-width: 1200px) {
.footerright { float:right}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
.footerright { float:right}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.footerright { float:right}
}



.footerleft {}



.btn-currency {
    border-radius: 1px;
    background: none;
    border: 1px solid #999;
}
.btn-currency:hover,
focus,
active {
    background: none;
}
.btn-currency:hover,
active {
    background: none;
}
.open > ul.currency-dropdown-menu {
    margin-top: 0;
	height: 163px;
    overflow-y: scroll;
}
.open .dropdown-toggle.btn-default.btn-currency {
    background: #000;
}
/*Footer*/

.open .dropdown-toggle.btn-default {
    background: #FFF;
}
.btn-destination {
    padding: 10px;
    border: 1px solid #c4c4c4;
    background: white;
    border-radius: 1px;
    color: #565a5c;
}
.btn-destination:hover {
    color: #FF5722;
    border: 1px solid #FF5722;
}
.all-destinations-sections {
    margin-top: 40px;
}
/*----------------------------------------------------------FOOTER----------------------------------------------------------*/


.bottom-below-footer p {
        color: #666;
    font-weight: normal;
    font-size: 15px;
    margin-right: 35px;
}
.btn-currency {
    border-radius: 1px;
    background: none;
    border: 1px solid #999;
    padding: 10px 20px;
    color: #FFF;
}
.btn-currency:hover {
    background: none;
    color: #FFF;
}
.btn-currency:active {
    background: none;
    color: #FFF;
}
.open > ul.currency-dropdown-menu {
    margin-top: 0;
}
.open .dropdown-toggle.btn-default.btn-currency {
    background: #000;
    color: #FFF;
}
.footer-3 a {
    color: #ffffff;
    font-weight: normal;
    font-size: 15px;
}

.footer-3 ul {    padding-left: 0;}
.footer-3 ul li { list-style:none;}
.social-footer a{ margin-right:8px;}
/*Footer*/


.btn-currency {
    border-radius: 1px;
    background: none;
    border: 1px solid #999;
}
.btn-currency:hover,
focus,
active {
    background: none;
}
.btn-currency:hover,
active {
    background: none;
}
.open > ul.currency-dropdown-menu {
    margin-top: 0;
}
.open .dropdown-toggle.btn-default.btn-currency {
    background: #000;
}
/*Footer*/
/*----------------------------------------------------------FOOTER----------------------------------------------------------*/
/*----------------------------------------------------------GENERAL----------------------------------------------------------*/

.img-circle {
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #F5F5F5;
}
/*----------------------------------------------------------MERCHANTS----------------------------------------------------------*/

.merchant-content {
    background: #F5F5F5;
}
/*nav*/

.navbar-white .navbar .brand {
    margin-top: -19px;
}
.navbar-white {
    border-bottom: 1px solid #dce0e0;
    height: 61px;
    padding: 0;
    background: #FFF;
}
p {
    font-size: 14px;
    color: #000;
}
a {
    color: #000;
}
/*nav*/
/*Overrighting original header.css*/
/*Footer*/



.btn-currency {
    border-radius: 1px;
    background: none;
    border: 1px solid #999;
    color: #FFF;
}
.btn-currency:hover {
    background: none;
    color: #FFF;
}
.btn-currency:focus {
    background: none;
    color: #FFF;
}
.open > ul.currency-dropdown-menu {
    margin-top: 0;
}
.open .dropdown-toggle.btn-default.btn-currency {
    background: #000;
}
/*Footer*/
/*marchant*/

.merchant-content {
    padding: 40px 0 80px 0;
}
.merchant-signup-title {
    padding: 10px 0 40px 0;
}
.merchant-signup-title h3 {
    margin-bottom: 0;
    margin-top: 40px;
    color: #000;
}
.merchant-signup-form .form-group {
    margin-bottom: 40px;
}
.merchant-signup-form .form-control {
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 20px 10px;
}
.btn-next {
    padding: 10px 30px;
}
.merchant-content .panel-body {
    padding: 40px 35px;
}
.merchant-signup-wizard .btn-group>.btn {
    padding: 10px;
    background: #F4F5F6;
    border-bottom: 1px solid #E1E3E5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.57);
    border-radius: 1px;
}
.merchant-info .checkbox {
    margin-bottom: 30px;
}
.minfo-btn {
    width: 400px;
    text-align: left;
}
.basic-detail .dropdown-toggle {
    width: 427px;
    width: 302px;
    border-radius: 1px;
    text-align: left;
}
span.caret .pull-right {
    margin-top: 9px;
}
.panel {
    box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
    -webkit-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
    -moz-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
}
.tab-first {
    border-right: 0;
}
.tab-centre {} .tab-last {
    border-left: 0;
}
.btn-proceed {
    background: #F4511E;
    border-radius: 2px;
    border: 0;
}
.btn-proceed:hover {
    background: #BF360C;
}
.terms {
    padding-top: 11px;
}
.merchant-select {
    width: 100%;
    border-radius: 1px;
}
.merchant-caret {
    margin-left: 0;
    margin-top: 9px;
}
.activetab {
    font-weight: bold;
}
.categories-checkbox {
    margin-bottom: 40px;
}
.paddingzero {
    padding: 0;
}
.categories-blurp {
    margin-bottom: 40px;
}
.btn-state {
    width: 302px;
}
.btn-country {
    width: 302px;
}
.country-caret {
    margin-top: 9px;
}
.state-caret {
    margin-top: 9px;
}
/*marchant*/
/*----------------------------------------------------------DETAIL PAGE----------------------------------------------------------*/


.order-row {
    padding: 10px 5px;
	height: 155px;
    margin-bottom: 20px;
}
.order-row p { font-size:12px;}


.varient-options .input-group .btn-minus{    padding: 7px 10px;}
.varient-options .input-group .btn-add{    padding: 7px 10px;}


.varient-options .input-group .input-varient {    padding: 5px 0 9px; width: 38px;}
.varient-row {padding: 10px 0px 50px 0px;}



.content-suggestions {     width: 100%;
    height: 269px;
    overflow-y: hidden;
    overflow-x: hidden;}
.content-suggestions img { width: 100%;}



.result-content-suggestions {
}
.result-content-suggestions .content-title p {
    margin-bottom: 20px;
}
.result-content-suggestions .user-thumb {
    position: absolute;
    top: 240px;
    left: 216px;
    z-index: 99;
}

.result-content-suggestions .price {
    opacity: 0.79;
    background: #3c3d41;
    color: #FFF;
    padding: 5px 14px 5px 15px;
    font-size: 14px;
    position: absolute;
    top: 182px;
    z-index: 99;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.content-suggestions {     width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;}
	
.result-content-suggestions .user-thumb {
    position: absolute;
    top: 240px;
    left: 288px;
    z-index: 99;
}
.result-content-suggestions .price {
    opacity: 0.79;
    background: #3c3d41;
    color: #FFF;
    padding: 5px 14px 5px 15px;
    font-size: 14px;
    position: absolute;

    top: 182px;
	z-index: 99;
}
.result-content-suggestions .heart-wrapper {
    position: absolute;
    top: 14px;
    left: 85%;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	
	.content-suggestions {     width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;}
	
.result-content-suggestions .user-thumb {
    position: absolute;
    top: 240px;
    left: 288px;
    z-index: 99;
}
.result-content-suggestions .price {
    opacity: 0.79;
    background: #3c3d41;
    color: #FFF;
    padding: 5px 14px 5px 15px;
    font-size: 14px;
    position: absolute;

    top: 182px;
	z-index: 99;
}
.result-content-suggestions .heart-wrapper {
    position: absolute;
    top: 14px;
    left: 85%;
}
}




/* Portrait phones and smaller */
@media (max-width: 480px) {
.result-content-suggestions .user-thumb {
    position: absolute;
    top: 346px;
    left: 327px;
    z-index: 99;
}

.content-suggestions {     width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;}
.result-content-suggestions .heart-wrapper {
    position: absolute;
    top: 4%;
    left: 82%;
}

.result-content-suggestions .price {
    opacity: 0.79;
    background: #3c3d41;
    color: #FFF;
    padding: 5px 14px 5px 15px;
    font-size: 14px;
    position: absolute;
    top: 285px;
    z-index: 99;
}

}



.result-content-suggestions .portfolio-item h4 {
    color: #333;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 18px;
}
.result-content-suggestions .portfolio-item p {
    color: #000;
    font-size: 16px;
}
.result-content-suggestions .portfolio-item p.price {
    color: #FFF;
    font-size: 16px;
    padding: 5px 15px;
}


.date-book {
    margin: 0;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    border-right: 0px;
    background-color: #fff;
    color: #565a5c;
}
.detail-widget-dateform .input-group-addon {
    background: none;
}
.form-group.detail-widget-dateform {
    margin-top: 20px;
}

.form-group.detail-widget-dateform .fv-icon-no-label {
        right: 53px;
    top: 18px;
}
.merchantdetail h1 {
    color: #212121;
}
.merchantdetail h4 {
    color: #212121;
    font-size: 17px;
}
.merchantdetail h5 {
    color: #212121;
}
.merchantdetail p.price {
    color: #FFF;
}

.merchantdetail p {
    color: #000;
}
.demo-gallery > ul {
    margin-bottom: 0;
}
.demo-gallery > ul > li {
    float: left;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 200px;
}
.demo-gallery > ul > li a {
    border: 3px solid #FFF;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
}
.demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.demo-gallery > ul > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
    opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
    opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}
.demo-gallery.dark > ul > li a {
    border: 3px solid #04070a;
}
.home .demo-gallery {
    padding-bottom: 80px;
}
/*detail page only*/
/*Overrighting original style.css, please change class name*/














.paddingzero {
    padding: 0;
}
.header-10-sub .background {
/*    background-image: url("../../../../img/vacation.jpg");*/
    /*opacity: 85;*/
    /*filter: alpha(opacity=8500);
    opacity: 0.85;
    filter: alpha(opacity=85);*/
}
.header-10-sub {
    height: 400px !important;
}
.form-control {
    border: 1px solid #bdc3c7;
    color: #34495e;
    border-radius: 2px;
}
.btn-default {
    border-radius: 3px;
    padding: 10px 40px;
    font-size: 16px;
}
.btn-default:hover {} footer p {
    color: #FFF;
}
/*Overrighting original style.css, please change class name*/
/*Overrighting original header.css*/
@media (min-width: 768px) {
.navbar-form .form-control {
    display: inline-block;
    width: 440px;
    vertical-align: middle;
}
}
.navbar-form .form-control {
    border-radius: 1px;
}
/*Overrighting original header.css*/

.titledistance {
    margin-bottom: 40px;
}
p {
    font-size: 14px;
    color: #000;
}

.content-8 p {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    margin-bottom: 43px;
    margin-bottom: 0;
}
.content-8 h4 {
    font-weight: normal;
    margin-top: 0;
}
.content-7 h4 {
    font-weight: normal;
}

.greysection {
    background-color: #f9f9f9;
    min-height: 150px;
    border: 1px solid #dce0e0;
}

/*1 - about merchant*/
    
.aboutmerchant {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}
.aboutmerchant img{ width:90px; height:90px; border:1px solid #E0E0E0;}



/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.aboutmerchant {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
	height:500px;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.aboutmerchant {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
	/*height:500px;*/
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.aboutmerchant {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
	/*height:520px;*/
}
}

.aboutmerchant h1:first-child {
    font-size: 23px;
    font-weight: normal;
}

/*1 - about merchant*/
/*2 - about product*/

.aboutproduct {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}
/*2 - about product*/
/*3 - gallery*/

.gallery {
    padding-top: 40px;
    padding-bottom: 40px;
}
/*3 - gallery*/
/*4 - reviews*/

.reviews {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
    border-top: 1px solid #dce0e0;
}

.picture-block img{ width:67px; height:67px; border:1px solid #E0E0E0;}
/*4 - reviews*/
/*5 - merchant detail*/

.merchantdetail {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}


/*5 - merchant detail*/
/*detail page only*/
/*detail page gallery*/

.detailpage-images-gallery {}

.topleftimg {
    padding: 0 2px 2px 0;
    width:342px; height:149px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.topleftimg img{ max-width: inherit;}


.toprightimg {
    padding: 0 0 2px 2px;
    width:303px; height:149px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.toprightimg img{ max-width: inherit;}
.bottomleftimg {
    padding: 2px 2px 0 0;
    width:215px; height:204px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.bottomleftimg img{ max-width: inherit;}
.bottomcentreimg {
    padding: 2px 2px 0 2px;
    width:215px; height:204px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.bottomcentreimg img{ max-width: inherit;}
.bottomrightimg {
    padding: 2px 0 0 2px;
    width:215px; height:204px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.bottomrightimg img{ max-width: inherit;}



.gallery-overlay-cover {
    background: #000;
    opacity: 0.3;
    width: 238px;
    height: 238px;
    position: absolute;
}
.text-overlay-cover {
    position: absolute;
    top: 100px;
    left: 40px;
    z-index: 99;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}
.text-overlay-cover:hover {
    color: #F4511E;
}






/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.gallery-overlay-cover {
    background: #000;
    opacity: 0.3;
    width: 238px;
    height: 238px;
    position: absolute;
}
.text-overlay-cover {
    position: absolute;
    top: 110px;
    left: 60px;
    z-index: 99;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.gallery-overlay-cover {
    background: #000;
    opacity: 0.3;
   
    position: absolute;
}
.text-overlay-cover {
    position: absolute;
    top: 170px;
    left: 105px;
    z-index: 99;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
	
	.bottomrightimg {
    padding: 2px 0 0 2px;
	width:100%; height:100%;
	overflow-y: hidden;
    overflow-x: hidden;
}
.bottomrightimg img{     width: 100%;}

.gallery-overlay-cover {
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}
	
.detailpage-images-gallery {
    width: 100%;
}
.text-overlay-cover {
    position: absolute;
  top: 180px;
    left: 125px;
    z-index: 99;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}
}



/*detail page gallery*/
/*Footer*/


.btn-currency {
    border-radius: 1px;
    background: none;
    border: 1px solid #999;
}
.btn-currency:hover,
focus,
active {
    background: none;
}
.btn-currency:hover,
active {
    background: none;
}
.open > ul.currency-dropdown-menu {
    margin-top: 0;
}
.open .dropdown-toggle.btn-default.btn-currency {
    background: #000;
}
/*Footer*/
/*suggestions*/

.portfolio-item {
    margin-bottom: 40px;
}
.portfolio-item h4 {
    color: #333;
    margin-top: 20px;
}
.portfolio-item a {
    color: #333;
}
.portfolio-item p {
    color: #333;
}


.glyphicon-star {
    color: #ffcd00;
}
.starratings {
    padding-top: 5px;
}
.star-rating .icon-star {
    display: inline;
    color: #d8d8d8;
    font-size: 16px;
}
/*hearts*/

input[type=checkbox].heart-checkbox {
    display: none;
}
/*----------------------------------------------------------PAYMENT----------------------------------------------------------*/
/*payment*/



.validthru { padding:0 5px 0 0;}
.year { padding:0 5px 0 5px}
.securitycode { padding:0 0 0 5px;}
.firstname { padding:0 10px 0 0}
.lastname { padding:0 0px}
.postalcode { padding:0 10px 0 0}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    
.validthru { padding:0;}
.year { padding:0;}
.securitycode { padding:0;}
.firstname { padding:0;}
.lastname { padding:0;}
.postalcode { padding:0;}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.validthru { padding:0;}
.year { padding:0;}
.securitycode { padding:0;}
.firstname { padding:0;}
.lastname { padding:0;}
.postalcode { padding:0;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.validthru { padding:0;}
.year { padding:0;}
.securitycode { padding:0;}
.firstname { padding:0;}
.lastname { padding:0;}
.postalcode { padding:0;}
}



.payment-page {
    padding-top: 40px;
    background: #fafafa;
    padding-bottom: 100px;
}
.payment-page {
    font-size:14px; 
}

.billing .form-control {
    height: 36px;
    background-color: #fff;
    color: #565a5c;
}
.form-control {
    border-radius: 2px;
}
label {
    font-weight: normal;
    color: #565a5c;
}
.input-pay {
    border: 1px solid #c4c4c4;
}
.billing img {
    border: 1px solid #c4c4c4;
}
.paddingzero {
    padding: 0;
}
.billing h3 {
    font-size: 28px;
    font-weight: normal;
    color: #565a5c;
    margin-bottom:20px;
}
.btn-pay:hover {
    background: #BF360C;
    color: #FFF;
}
.btn-pay {
    color: #FFF;
    padding: 10px 30px;
    background: #F4511E;
    border: 1px solid #BF360C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    width: 100%;
}
.merchant-details {
    padding-left: 50px;
}
.book-widget-detail-page {
    position: absolute;
    top: -108px;
}
.book-now-block {
    background-color: #fff;
    display: block;
    width: 300px;
    min-height: 530px;
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
}

.book-now-block-smxs {
    background-color: #fff;
    display: block;
    width: 100%;
    min-height: 262px;
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 40px;
}

.book-now-block img {
    border-radius: 0;
}
.productdetail {
    padding: 10px 20px 20px 16px;
    width: 306px;
    border-radius: 0;
    min-height: 600px;
}

.productdetail-smxs{
    padding: 10px 20px 20px 16px;
    width: 100%;
    border-radius: 0;
    min-height: 600px;
}

.productdetail-booking{
    padding: 10px 20px 20px 16px;
    width: 306px;
    border-radius: 0;
}


.productdetail h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.productdetail p {
    font-size: 14px;
    line-height: 1.43;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
p.totalprice {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.43;
    color: #000;
}
.disclaimer {
    margin-top: 40px;
}
.disclaimer p {
    color: #6b6e76;
    font-size: 12px;
}
/*----------------------------------------------------------RESERVATIONS----------------------------------------------------------*/

.reservation-table-title p{ margin:0;}
.btn-status {       padding: 5px 15px;  margin-top: 20px;font-size: 14px;}

         .profile-details {background-color: #FFF;
         border:1px solid #e6e6e6; padding:40px 40px 10px;}
         .profile-form input {background-color: #FFF;
         border:1px solid #adadad;
         }
         
         
         .birthdate .dropdown-menu {
         top: 33px;
         }
         .profile-details .dropdown-toggle {
         width: 130px;    border-radius: 2px;
         }
         .profile-page {
         padding-top: 40px;
         background: #fafafa;
         }
        
        
         .btn-profile input[type=file] {
         position: absolute;
         top: 0;
         right: 0;
         min-width: 100%;
         min-height: 100%;
         font-size: 100px;
         text-align: right;
         filter: alpha(opacity=0);
         opacity: 0;
         outline: none;
         background: white;
         cursor: inherit;
         display: block;
         }
         .profileholder { background:#fafafa;padding: 10px;}
         .remove-profile { position:absolute;
         top: 10px;
         left: 178px;
         color: red;}
         
         .panel-heading {
         color: #333;
         background: #F4F5F6;
         border-bottom: 1px solid #E1E3E5;
         text-shadow: 0 1px 0 rgba(255, 255, 255, 0.57);
         font-weight: bold;
         box-shadow: none;
         font-size: 14px;
         color: #5A626B;    padding: 15px 15px;
         }
         .btn-save { background:#F4511E; color:#FFF; border:0; padding:10px 40px; border-radius:2px;}


.profile-photo p {
    font-size: 14px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-photo p.accepted {
    color: #689F38;
    font-weight: bold;
}
.profile-photo p.pending {
    color: #FF9800;
    font-weight: bold;
}
.profile-photo p.reject {
    color: #b71c1c;
    font-weight: bold;
}
/*----------------------------------------------------------DASHBOARD----------------------------------------------------------*/


.nav-second-profile li.active {
    font-weight: bold;
    color: #000;
}
.nav-second-profile .navbar-nav>li>a {
    padding-top: 15px;
    color: #777;
}
.dashboard-header {
    background: #90CAF9;
    width: 100%;
    padding: 100px 0;
    height: 300px;
}
.dashboard-header h1 {
    color: #FFF;
}
.dashboard-header h4 {
    color: #FFF;
}
.dashboard-header h5 {
    color: #FFF;
}
.dashboard-header p {
    color: #FFF;
}
.dashboard-header a {
    font-size: 14px;
    color: #FFF;
}
.dashboard {
    padding-top: 0;
}
.dashboard-invite {
    background: #F5F5F5;
}
/*----------------------------------------------------------INVITE FRIENDS----------------------------------------------------------*/

.email-invites { margin-bottom:20px;}

.header-10-sub .background.invitefriendsbg {
    background-image: url("https://s3-us-west-2.amazonaws.com/travelog/assets/friends.jpg");
    opacity: 85;
    filter: alpha(opacity=8500);
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.invitefriends-content {
    background: #F5F5F5;
    padding-top: 40px;
    min-height: 500px;
    padding-bottom: 80px;
}
.invitefriends-content h6 {
    color: #212121;
}
.invitefriends-content a {
    color: #F4511E;
}
.btn-sharefacebook {
    background: #3b5999;
    border-radius: 1px;
    margin-left: -4px;
    color: #FFF;
    width: 150px;
    font-size: 16px;
    padding: 9px;
}
.btn-shareemail {
    background: #DC4E41;
    border-radius: 1px;
    margin-left: -4px;
    color: #FFF;
    width: 150px;
    font-size: 16px;
    padding: 9px;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.btn-sharefacebook {
    background: #3b5999;
    border-radius: 1px;
    margin-left: -4px;
    color: #FFF;
    width: 150px;
    font-size: 16px;
    padding: 9px;
    width:100%;
}
.btn-shareemail {
    background: #DC4E41;
    border-radius: 1px;
    margin-left: -4px;
    color: #FFF;
    width: 150px;
    font-size: 16px;
    padding: 9px;
    width:100%;
}

.email-invites.form-control {width:325px;}

}


.btn-sharefacebook:hover {
    color: #FFF;
}
.btn-shareemail:hover {
    color: #FFF;
}
.hero-unit.invitefriends p {
    color: #FFF;
    font-size: 20px;
}
.invitefriends-form {
    margin-top: 40px;
}
.invitefriends-form .form-control {
    width: 300px;
    padding: 20px 10px;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.invitefriends-form .form-control {
    width: 100%;
    padding: 20px 10px;
}
}


.friendslist {
    margin-top: 80px;
    padding-top: 80px;
    border-top: 1px solid #E0E0E0;
}
/*----------------------------------------------------------PROFILE----------------------------------------------------------*/

ul.sidebar-static {
    padding: 0;
}
ul.sidebar-static li {
    list-style: none;
    margin: 10px 0;
}
ul.sidebar-static li a {
    color: #000;
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
    padding: 16px 15px 5px;
}
.profile-details {
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    padding: 40px 40px 10px;
}
.profile-form input {
    background-color: #FFF;
    border: 1px solid #adadad;
}

.btn-viewprofile {
    width: 200px;
    border: 1px solid;
    border-radius: 2px;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    background: -webkit-linear-gradient(top, #FFF, #F6F7F8);
    background: -ms-linear-gradient(top, #FFFFFF, #f9f9f9);
    background: -moz-linear-gradient(top, #FFFFFF, #f9f9f9);
    background: -o-linear-gradient(top, #FFFFFF, #f9f9f9);
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f9f9f9');*/
    margin-top: 20px;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.btn-viewprofile {
    width: 140px;
}
ul.sidebar-static li a {
    font-size: 13px;
}
.remove-profile {
    top: 10px;
    left: 100px;
}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.btn-viewprofile {
    width: 140px;
}
ul.sidebar-static li a {
    font-size: 13px;
}
.remove-profile {
    top: 10px;
    left: 100px;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.sidebar-profile-dashboard { margin-bottom:40px;}
.remove-profile {
    top: 11px;
    left: 290px;
}
.btn-profile {width: 280px;
    text-align: center;}
    .profileholder {
    margin-bottom: 20px;
}
}


.birthdate .dropdown-menu {
    top: 33px;
}
.profile-details .dropdown-toggle {
    width: 130px;
    border-radius: 2px;
}
.profile-photo p {
    font-size: 14px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-profile {
    position: relative;
    overflow: hidden;
    border: 1px solid;
    border-radius: 2px;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    background: -webkit-linear-gradient(top, #FFF, #F6F7F8);
    background: -ms-linear-gradient(top, #FFFFFF, #f9f9f9);
    background: -moz-linear-gradient(top, #FFFFFF, #f9f9f9);
    background: -o-linear-gradient(top, #FFFFFF, #f9f9f9);
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f9f9f9');*/
}
.btn-profile input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.profileholder {
    background: #fafafa;
    padding: 10px;
}

/*.form-horizontal .form-group {
    margin-bottom: 40px;
}*/
.panel-heading {
    color: #333;
    background: #F4F5F6;
    border-bottom: 1px solid #E1E3E5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.57);
    font-weight: bold;
    box-shadow: none;
    font-size: 14px;
    color: #5A626B;
    padding: 15px 15px;
}
.btn-save {
    background: #F4511E;
    color: #FFF;
    border: 0;
    padding: 10px 40px;
    border-radius: 2px;
}
/*Footer*/

.bottom-below-footer {
    margin-top: 40px;
}
.btn-currency {
    border-radius: 1px;
    background: none;
    border: 1px solid #999;
}
.btn-currency:hover,
focus,
active {
    background: none;
}
.btn-currency:hover,
active {
    background: none;
}
.open > ul.currency-dropdown-menu {
    margin-top: 0;
}
.open .dropdown-toggle.btn-default.btn-currency {
    background: #000;
}
/*----------------------------------------------------------PAYMENT----------------------------------------------------------*/
.table-payment {    color: #000;}

.table-payment.table>thead>tr>th {
    border-bottom: 0;
}
.table-payment.table>tbody>tr>th {    border-top: 0;}
.table-payment.table>tbody>tr>td {border-top: 0;}

/*----------------------------------------------------------INVITE USERS----------------------------------------------------------*/

.header-10-sub .background.inviteuserbackground {
    background-image: url(https://s3-us-west-2.amazonaws.com/travelog/assets/inviteusers.jpg);
    opacity: 85;
    filter: alpha(opacity=8500);
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.hero-unit.userinvitehero { margin-bottom:40px;}

.hero-unit.userinvitehero p {
    color: #FFF;
    font-size: 16px;
}
.btn-usersignup {
    background: #FF5722;
    color: #FFF;
    border-radius: 2px;
    border: 1px solid #BF360C;
    padding: 10px 40px;
    font-size: 16px;
}
.btn-usersignup:hover {
    color: #FFF;
    background: #BF360C;
}
.header-10-sub .hero-unit .termssmall {
    font-size: 14px;
    color: #FFF;
}
.hero-unit.userinvitehero h1 {
    margin: 0;
}
.inviteuserprofileimg {
    border: solid 3px #FFF;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}
/*----------------------------------------------------------RESULT----------------------------------------------------------*/
.result-content {
    min-height: 1000px;
}
.result-content .content-title p {
    margin-bottom: 20px;
}

.result-content .portfolio-item h4 {
    color: #333;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 18px;
}
.result-content .portfolio-item p {
    color: #000;
    font-size: 16px;
}
.result-content .portfolio-item p.price {
    color: #FFF;
    font-size: 16px;
    padding: 5px 15px;
}

.result-content .price {
    opacity: 0.79;
    background: #3c3d41;
    color: #FFF;
    padding: 5px 14px 5px 15px;
    font-size: 14px;
    position: absolute;
    top: 182px;
    z-index: 99;
}


.result-content .user-thumb {
    position: absolute;
       top: 234px;
    left: 216px;

}

.star-rating .icon-star {
    display: inline;
    color: #d8d8d8;
    font-size: 16px
}
.star-rating .icon-star.selected {
    color: #ffcd00
}
.heart-wrapper {
    position: absolute;
    top: 14px;
    left: 236px;
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

.result-content .user-thumb {
    position: absolute;
       top: 234px;
    left: 216px;

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.result-content .heart-wrapper {
    position: absolute;
    top: 24px;
    left: 310px;
}
.result-content .user-thumb {
    position: absolute;
    top: 318px;
    left: 288px;
}

.result-content .price {
    opacity: 0.79;
    background: #3c3d41;
    color: #FFF;
    padding: 5px 14px 5px 15px;
    font-size: 14px;
    position: absolute;
    top: 284px;
    z-index: 99;
}

}



/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.result-content .user-thumb {
    position: absolute;
    top: 346px;
    left: 321px;
}

.result-content .price {
    opacity: 0.79;
    background: #3c3d41;
    color: #FFF;
    padding: 5px 14px 5px 15px;
    font-size: 14px;
    position: absolute;
    top: 284px;
    z-index: 99;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .merchant-nav { display:hidden;}
    
    
.result-content .heart-wrapper {
    top: 24px;
    left: 314px;
}

.result-content.user-thumb {
    position: absolute;

     top: 318px;
    left: 288px;

}

.result-content .price {
    opacity: 0.79;
    background: #3c3d41;
    color: #FFF;
    padding: 5px 14px 5px 15px;
    font-size: 14px;
    position: absolute;
    top: 284px;
    z-index: 99;
}

}


.search-box-wrapper {
    padding-top: 80px;
}
.container-result {
    /*border: solid 2px #a1a1a1*/
}
.container-filter {
    margin-top: 20px;
    margin-bottom: 20px
}
.container-filter .row-filter h5 {
    font-weight: 600;
    text-align: left;
    float: left
}
.container-filter .filter-search {
    border-bottom: solid 1px #e6e9e9;
    min-height: 100px;
    margin-top: 25px;
}
.container-filter .filter-search .checkbox {
    margin-right: 10px;
    padding: 5px 20px 2px;
    -webkit-box-shadow: inset 0 1px 0 #F8F9F9, 0 0 0 1px rgba(14, 16, 18, 0.1), 0 1px 2px 0 rgba(14, 16, 18, 0.1);
    -moz-box-shadow: inset 0 1px 0 #F8F9F9, 0 0 0 1px rgba(14, 16, 18, 0.1), 0 1px 2px 0 rgba(14, 16, 18, 0.1);
    box-shadow: inset 0 1px 0 #F8F9F9, 0 0 0 1px rgba(14, 16, 18, 0.1), 0 1px 2px 0 rgba(14, 16, 18, 0.1);
    background: #f4f5f6;
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f4f5f6', endColorstr='#eeeff0');*/
}
@media (max-width: 991px) {
    .container-filter .filter-search .checkbox {
        margin-left: 0;
        margin-right: 0
    }
}
.container-filter .filter-search h5 {
    margin-top: 16px
}
.container-filter .slider-filter {
    min-height: 120px;
    margin-top: 35px;
}
.container-filter .slider-filter label {
    font-weight: bold
}
.container-filter .slider-filter .label-description {
    margin-top: 50px
}
.slider {
    margin-top: 18px
}
.noUi-horizontal .noUi-handle {
    height: 24px;
    width: 24px;
    top: -10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px #ebebeb, 0 3px 6px -3px #bbb
}
.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before {
    background: transparent
}
.noUi-connect,
.noUi-background,
.noUi-target {
    height: 3.5px
}
.noUi-connect {
    background: #c5c5c5
}
.noUi-connect {
    background: #006ffe
}

input[type=checkbox].heart-checkbox {
    display: none
}
input[type=checkbox].heart-checkbox+label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 30px;
    cursor: pointer
}
input[type=checkbox].heart-checkbox+label:before {
    content: "\f004";
    color: #9b9b9b;
    -webkit-text-stroke: .1px white;
    text-shadow: 1px 1px 0 #fff, px 0 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 1px 1px 0 #fff
}
input[type=checkbox].heart-checkbox+label:before {
    letter-spacing: 10px
}
input[type=checkbox].heart-checkbox:checked+label:before {
    content: "\f004";
    color: #ff1d25;
    -webkit-text-stroke: 0;
    text-shadow: none
}
input[type=checkbox].heart-checkbox:checked+label:before {
    letter-spacing: 5px
}
.common-click-feature-hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5
}
.common-click-feature {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: pointer
}
.common-border-bottom {
    border-bottom: solid 2px #a1a1a1
}
.border-bottom-separator {
    border-bottom: solid 2px #a1a1a1;
    padding-bottom: 100px;
    border-bottom-width: 1px
}
.pagination-wrapper .pagination-block {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: #bfbfbf solid 2px;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    margin-right: 20px;
    color: #979797;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: pointer
}
.pagination-wrapper .pagination-block.active {
    border: #696969 solid 2px;
    color: #000
}
.pagination-wrapper .pagination-block:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5
}
.bg-color-blue {
    background-color: #2e71f0 !important
}
.review-name {} .section-details p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #565a5c;
    margin-top: 0;
    margin-bottom: 0
}
.section-details h3 {
    color: #3c3d41;
    margin-top: 0;
    margin-bottom: 6.25px;
    line-height: normal;
    font-size: 24px;
}
.section-details p {
    font-size: 14px;
    line-height: 1.43;
    color: #000;
}
.btn-contact {
    color: #fff;
background: #F4511E;
    border: 1px solid #BF360C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
    padding: 10px 30px;
    }
    .btn-contact:hover {color: #fff;border: 1px solid #BF360C;background: #BF360C;}
    
h3.title-detailspage {
    margin-bottom: 40px;
}
.testimonials {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.btn-testimonials {
    width: 100%;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.btn-testimonials {
    width: 100%;
}


}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.testimonials {
    width: 100%;
}

.btn-testimonials {
    width: 100%;
}





.starratings {
    padding-left: 0;
}



}


/*-----------------------------------------------------DETAILS PAGE-----------------------------------------------------*/


.btn-book {
    color: #FFF;
	width:100%;
    padding: 10px 30px;
    background: #F4511E;
    border: 1px solid #BF360C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
}
.btn-book:hover{
 background: #BF360C;
    border: 1px solid #BF360C;
    color: #FFF;
}







.contacthost-btn { 
    color: #FFF;
    padding: 10px 30px;
	border-radius:2px;
    background: #F4511E;
    border: 1px solid #BF360C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
}

.about-host h4 {
    color: #212121;
    margin-bottom: 20px;
}

.about-host { margin-bottom:80px; margin-top:0;}

.about-host p{    color: #000;
    line-height: 20px;
    margin-bottom: 30px;}

.about-host img{    width: 90px;
    height: 90px;
    border: 1px solid #E0E0E0;}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {


.book-now-block-small {
    background-color: #fff;
    display: block;
    margin: 0 20px;
    min-height: 262px;
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
	position:absolute;
	top: -92px;
}


.book-widget-detail-page-small p {
    font-weight: normal;
    font-size: 16px;
}

.widget-title-small {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 40px;
    margin: 0;
    opacity: 1.5;
    display: block;
    width: 100%;
    border: 1px solid #000;
	z-index:999;
}
.widget-title-small p {
    color: #FFF;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}


.productdetail-booking-small{
    padding: 10px 20px 20px 16px;
    border-radius: 0;
}





.about-host img{    width: 60px;
    height: 60px;
    border: 1px solid #E0E0E0;
	}

.poster-info-mdlg { display:none;}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

.book-now-block-small {
    background-color: #fff;
    display: block;
    margin: 0 20px;
    min-height: 262px;
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
	position:absolute;
	top: -92px;
}


.book-widget-detail-page-small p {
    font-weight: normal;
    font-size: 16px;
}

.widget-title-small {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 40px;
    margin: 0;
    opacity: 1.5;
    display: block;
    width: 100%;
    border: 1px solid #000;
	z-index:999;top: -92px;
}
.widget-title-small p {
    color: #FFF;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}


.productdetail-booking-small{
    padding: 10px 20px 20px 16px;
    border-radius: 0;
}



}

.about-host img{    width: 60px;
    height: 60px;
    border: 1px solid #E0E0E0;
	}



.poster-info-mdlg { display:none !important;}




/* Portrait phones and smaller */
/*@media (max-width: 480px) {

.book-now-block-small {
    background-color: #fff;
    display: block;
    margin: 0 20px;
    min-height: 242px;
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
	position:absolute;
}


.productdetail-booking-small{
    padding: 10px 20px 20px 16px;
    border-radius: 0;
}

.book-widget-detail-page-small {
	    top: -93px;
    z-index: 99;
    
}

.result-content-suggestions .content-title p {
    margin-bottom: 20px;
	text-align:center;
}

    

.poster-info-xssm img { width:80px; height:80px;margin-left: 130px;margin-bottom: 40px;}
.poster-info-xssm h4 { margin-top:0; margin-left: -19px;
    padding: 0 20px; text-align:center;
    font-size: 20px;}
.poster-info-xssm p { text-align:center;}
.poster-info-xssm .starratings { text-align:center;}

.productdetail-booking-small a.btn-book { width:100%; border-radius:2px;    padding: 15px 30px;}
*/


.about-host img{    width: 90px;
    height: 90px;
    border: 1px solid #E0E0E0;   
    /* margin-left: 120px;*/

}

	
	.about-host-title { text-align:center;}
	.about-host-img { text-align:center; margin-bottom:20px;}
	.about-host-detail { text-align:center;}




.book-widget-detail-page {
    position: absolute;
    top: -94px;
    opacity: 0.9;
}





.book-widget-detail-page p {
    font-weight: normal;
    font-size: 14px;
}
.widget-title {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 40px;
    margin: 0;
    opacity: 1.5;
    display: block;
    width: 300px;
    border: 1px solid #000;
}
.widget-title p {
    color: #FFF;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}






.btn-testimonials {
    color: #FFF;
    padding: 10px 30px;
    background: #F4511E;
    border: 1px solid #BF360C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
}
.btn-testimonials:hover{
 background: #BF360C;
    border: 1px solid #BF360C;
    color: #FFF;
}
.merchant-info {
    padding-left: 40px;
}
/*.section-details .form-control {
    height: 50px;
    border: 1px solid #ccc
}
.section-details .btn {
    height: 50px;
    font-weight: bold;
    font-size: 14px
}*/

.section-details .btn.blue {
    background-color: #2e71f0
}
.section-details .common-row {
    margin-bottom: 110px
}
.section-details.summary {
    min-height: 150px
}
.section-details.review .row {
    /* margin-bottom: 40px;*/
}
.section-details.review .row-half-space {
    margin-bottom: 55px
}
.section-details.content {
    background-color: #f9f9f9;
    min-height: 150px;
    border: 1px solid #dce0e0;
}
.section-details.content .gallery-row {
    margin-top: 55px;
    margin-bottom: 55px
}
.section-details.content .gallery-block .owl-item {
    margin-right: 40px
}
.section-details.content .gallery-block .owl-item img {
    border-radius: 8px;
    display: block;
    width: 100%;
    height: auto
}
.form-block {
    min-height: 400px
}
.form-block .form {
    min-height: 400px
}
.card-payment-block img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: pointer
}
.card-payment-block img:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5
}
@media (max-width: 480px) {
    .portfolio-item {
        margin-bottom: 20px;
        padding-left: 80px
    }
    input.form-control.places-form {
        width: 100%
    }
    input.form-control.name-form {
        margin: 0;
        width: 100%
    }
    .search-btn {
        width: 100%
    }
    .footer {
        height: 100%
    }
}
/*-------------------------------------------------------SIGNUP-------------------------------------------------------*/

.signin-page {
    height: 600px
}
.signin-page .form-control {
    border: 1px solid #ccc
}
.signin-btn {
    width: 380px;
    height: 40px;
    background: #2e71f0;
    border: 1px solid #2e71f0;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.signin-btn:hover {
    background: #007aff;
    color: #fff;
    border: 1px solid #2e71f0
}
.signinToLogin {
    margin-top: 0;
    font-size: 14px;
    margin-left: -210px;
}
.modal-signup {
    padding: 30px;
    text-align: center;
    width: 442px
}
.modal-signup .form-control {
    border: 1px solid #ccc
}
.modal-signin {
    padding: 30px;
    text-align: center;
    width: 442px
}
.modal-signup h3 {
    margin-top: 0
}
.modal-signin h3 {
    margin-top: 0
}
.header-gradient {
    width: 100%;
    height: 5px;
    background: #c02425;
    background: -webkit-linear-gradient(to left, #c02425, #f0cb35);
    background: linear-gradient(to left, #c02425, #f0cb35)
}
.modal-container, .modal {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-transform: translate3d(0, 0, 0);
    background-color: #f5f5f5;
    background-color: rgba(0,0,0,0.75);
}
.modal-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.modal {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}
.show {
    display: block !important;
}
.modal[aria-hidden="true"] {
    display: none;
}
.modal[aria-hidden="false"] {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.modal-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding: 50px;
}
.modal-content {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
}
.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}
.panel-header {
    color: #565a5c;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
}
.panel-dark, .panel-header {
    background-color: #edefed;
}
.panel-body {
    position: relative;
}
.panel-footer {
    text-align: right;
}


.content-7.signupLogin-content {
    padding: 60px 190px;
}
@media (min-width: 768px) {
    .signupLogin-content {
        padding: 40px 190px
    }
}
@media (max-width: 480px) {
    .signupLogin-content {
        padding: 40px 10px
    }
    .signin-btn {
        width: 355px
    }
}
/*------------------------------------------detail page only----------------------------------------------*/
/*Overrighting original header.css*/

p {
    font-size: 14px;
    color: #000;
}

/*Footer*/


.btn-currency {
    border-radius: 1px;
    background: none;
    border: 1px solid #999;
}
.btn-currency:hover,
focus,
active {
    background: none;
}
.btn-currency:hover,
active {
    background: none;
}
.open > ul.currency-dropdown-menu {
    margin-top: 0;
}
.open .dropdown-toggle.btn-default.btn-currency {
    background: #000;
}
/*Footer*/

.navbar-white .navbar .brand {
    margin-top: -19px;
}
.navbar-white {
    border-bottom: 1px solid #dce0e0;
    height: 61px;
    padding: 0;
    background: #FFF;
}
.header-gradient {
    width: 100%;
    height: 2px;
    background: #c02425;
    background: -webkit-linear-gradient(to left, #c02425, #f0cb35);
    background: linear-gradient(to left, #c02425, #f0cb35);
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    
    
}
/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    
    
}
/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
   
}
/* Portrait phones and smaller */

@media (max-width: 480px) {
    
    
    
}

.access-btn {
    width: 100%;
    height: 46px;
    margin-top: 10px;
    background: #2e71f0;
    border: 1px solid #0D47A1;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.access-btn:hover {
    background: #007aff;
    color: #fff;
    border: 1px solid #0D47A1
}
.access-page { padding:60px 0}

.access-page label {
    font-weight: normal;
    color: #565a5c;
    font-size: 16px;
}

.access-page .form-control {
    border: 1px solid #ccc;    height: 42px;
    border-radius: 1px;
}


.btn-fb-access {background: #3b5999;
    border: 0;
    border-radius: 1px;
    color: #FFF;
    width: 100%; margin-top: 28px; margin-bottom: 10px;padding-top: 11px;
    height: 46px;}
.btn-fb-access:hover,
active,
focus {
    color: #FFF;
    background: #1A237E;
}

/* -----
         SVG Icons
         ----- */

.svg-icon {
    width: 1em;
    height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}
.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}
/* -----
         SVG Icons
         ----- */

.icon-facebook {
    position: absolute;
    position: absolute;
    top: 15px;
    left: 121px;
}
.icon-facebook path {
    fill: #FFF;
}
.btn-facebook {
    background: #3b5999;
    border: 0;
    border-radius: 1px;
    color: #FFF;
    width: 450px;
    padding: 12px 123px;
    margin-left: -15px;
}
.btn-facebook:hover,
active,
focus {
    color: #FFF;
    background: #1A237E;
}
.fb-btn-row {
    margin-top: 34px;
    margin-bottom: 40px;
    margin-left: -20px;
}
/*-------------------------------------------------------SIGNUP END-------------------------------------------------------*/
/*-------------------------------------------------------LOGIN-------------------------------------------------------*/
/*detail page only*/
/*Overrighting original header.css*/

p {
    font-size: 14px;
    color: #000;
}

/*Footer*/


.btn-currency {
    border-radius: 1px;
    background: none;
    border: 1px solid #999;
}
.btn-currency:hover,
focus,
active {
    background: none;
}
.btn-currency:hover,
active {
    background: none;
}
.open > ul.currency-dropdown-menu {
    margin-top: 0;
}
.open .dropdown-toggle.btn-default.btn-currency {
    background: #000;
}
/*Footer*/

.navbar-white .navbar .brand {
    margin-top: -19px;
}
.navbar-white {
    border-bottom: 1px solid #dce0e0;
    height: 61px;
    padding: 0;
    background: #FFF;
}
.header-gradient {
    width: 100%;
    height: 2px;
    background: #c02425;
    background: -webkit-linear-gradient(to left, #c02425, #f0cb35);
    background: linear-gradient(to left, #c02425, #f0cb35);
}
.signin-page {
    height: 600px
}
.signin-page h3 {
    margin-bottom: 40px;
}
/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    
    
}
/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    
    
}
/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    
    
}
/* Portrait phones and smaller */

@media (max-width: 480px) {
    
    
    
}


.signin-btn {
    width: 449px;
    margin-top: 24px;
    background: #2e71f0;
    border: 1px solid #2e71f0;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.signin-btn:hover {
    background: #007aff;
    color: #fff;
    border: 1px solid #2e71f0
}
.content-7 {
    padding-top: 0;
    padding-bottom: 40px;
}
.signin-page .form-control {
    border: 1px solid #ccc;
    border-radius: 1px;
}
/* -----
         SVG Icons
         ----- */

.svg-icon {
    width: 1em;
    height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}
.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}
/* -----
         SVG Icons
         ----- */

.icon-facebook {
    position: absolute;
    position: absolute;
    top: 15px;
    left: 121px;
}
.icon-facebook path {
    fill: #FFF;
}
.btn-facebook {
    background: #3b5999;
    border: 0;
    border-radius: 1px;
    color: #FFF;
    width: 450px;
    padding: 12px 123px;
    margin-left: -15px;
}
.btn-facebook:hover,
active,
focus {
    color: #FFF;
    background: #1A237E;
}
.fb-btn-row {
    margin-top: 34px;
    margin-bottom: 40px;
}
/*-------------------------------------------------------LOGIN END-------------------------------------------------------*/

.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.form-group {
    margin-bottom: 20px
}
.btn:focus {
    outline: none
}
.footer-grey {
    background: #edefed
}
.footer-grey a {
    color: #565a5c
}
.footer-grey .bottom-footer p a {
    color: #565a5c
}
.navbar-white {
    border-bottom: 1px solid #dce0e0;
    height: 61px;
    padding: 0;
    background: #FFF;
}
.navbar-nav>li>a {
    padding-top: 19px;
    color: #565a5c
}
.search-white-nav {
    position: absolute;
    top: 13px;
    left: 191px;
    width: 500px;
    height: 40px;
}
.productdetail p {} .search-white-nav .glyphicon-search {
    color: #CCC;
    width: 24px;
}
.search-nav {
    border: none;
    width: 450px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media screen and (max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s
    }
    .side-collapse-container.out {
        left: 200px
    }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width .4s
    }
    .side-collapse.in {
        width: 0
    }
}
.navbar-toggle .icon-bar {
    background-color: #000
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
    outline: 0px !important;
    -webkit-appearance: none;
}
.pagination>li>a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
}
.checkbox label::after {
    margin-top: -5px;
}

/*----------------------------------------------------------beautycheckbox----------------------------------------------------------*/

.text-label {
    float: left;
    /*height: 40px;*/
    
    padding-top: 2px;
    font-size: 14px;
    color: #565a5c;
}
.checkbox {
    display: inline-block;
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    position: relative;
    /*height: 40px;*/
    
    margin-top: 3px;
    /*padding-left: 30px*/
    
    ;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17.5px;
    height: 17.5px;
    left: 0;
    margin-left: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    margin-left: 2px;
    margin-top: -15px;
    padding-left: 3px;
    padding-top: 5px;
    font-size: 22px;
    color: #555555;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    font-family: 'icomoon';
    content: "\e913";
    font-size: 2em;
    color: #000;
    margin-top: -5px;
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.radio {
    padding-left: 20px;
}
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
    opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio.radio-inline {
    margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}
.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}
.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}
.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}
.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}
/*----------------------------------------------------------beautycheckbox----------------------------------------------------------*/

/*----------------------------------------------------------LISTING----------------------------------------------------------*/
.btn-list {     background: #F4511E;
    border-radius: 1px;
    border: 1px solid #BF360C;
    padding: 10px;
    color: #FFF;}
.btn-list:hover { background: #BF360C;border: 1px solid #BF360C; color: #FFF;}

/*----------------------------------------------------------MANAGE LISTING----------------------------------------------------------*/

.header-10 {
    background: #FFF;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid #CCC;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
p {
    font-size: 14px;
}
/*
         * Top navigation
         * Hide default border to remove 1px line.
         */

.navbar-fixed-top {
    border: 0;
}


.additional-pricing .checkbox label {
    min-height: 20px;
    padding-left: 40px;
}

.additional-pricing .checkbox {
    display: inline-block;
    padding-left: 0;
}

/* Hide for mobile, show later */

/* Portrait phones and smaller */
.main {
    padding: 20px;
    margin-top: 150px;
}

@media (max-width: 480px) {
.sidebar {
    margin-top: 184px;
}
.main {
    margin-top: 0;
}

    .middleform { padding:0; margin:20px 0;}
    
    

}


@media (min-width: 768px) {
    
    .middleform { padding:0; margin:20px 0;}
    
    
    
    .sidebar {
        position: fixed;
        top: 133px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
/*
         * Main content
         */


@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
/*
         * Placeholder dashboard ideas
         */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.nav-sidebar > .active > a {
    color: #000;
    font-weight: bold;
    background-color: #EDEFED;
}
.nav-sidebar > li > a {
    color: #6d7275;
}
li.sidebar-title a {
    color: #b2b5b7;
}
/*-----------------------------------------------------------------------*/

.profile-page .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.navbar-white-fixed {
    border-bottom: 1px solid #dce0e0;
    height: 61px;
    padding: 0;
    background: #FFF;
}
ul.sidebar {
    padding: 0;
}
ul.sidebar li {
    list-style: none;
    margin: 10px 0;
}
ul.sidebar li a {
    color: #adadad;
}
.profile-details {
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    padding: 40px 20px;
}
.profile-form input {
    background-color: #FFF;
    border: 1px solid #adadad;
}
.birthdate.profile-form select {
    background-color: #FFF;
    border: 1px solid #adadad;
    width: 500px;
}

.birthdate .dropdown-menu {
    top: 33px;
}
.profile-details .dropdown-toggle {
    width: 130px;
}
.profile-page {
    padding-top: 40px;
    background: #fafafa;
    padding-bottom: 100px;
}
.sub-header-fixed { top: 80px;position:fixed;}
.nav-fixed { position:fixed;}
.nav-second-profile {
    background: #212121;
    padding: 7px 0;
    min-height: 40px;
    z-index: 10;
    margin-bottom:0;
}
.nav-second-profile li.active {
    font-weight: bold;
    color: #000;
}
.nav-second-profile .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FFF;
    z-index: 10;
}
.add-photo-box {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
    padding: 62px 10px 52px;
    width: 200px;
    height: 250px;
}
.btn-upload {
    border: 1px solid;
    border-radius: 2px;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    background: -webkit-linear-gradient(top, #FFF, #F6F7F8);
    background: -ms-linear-gradient(top, #FFFFFF, #f9f9f9);
    background: -moz-linear-gradient(top, #FFFFFF, #f9f9f9);
    background: -o-linear-gradient(top, #FFFFFF, #f9f9f9);
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f9f9f9');*/
    padding: 9px 27px;
    font-size: 16px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    width: 200px;
    height: 250px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.box-upload {
    width: 201px;
    height: 250px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;
    -moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;
    padding: 110px 80px 80px 80px;
    color: #000;
}
.box-upload a {
    color: #000;
}
.available-select-box {
    background-color: #FFF;
    padding: 70px 20px;
    border-radius: 2px;
    border: #dce0e0 1px solid;
}
.main .form-control {
    border: 1px solid #c4c4c4;
}
.btn-next {
    background: #F4511E;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 2px;
}
.btn-back {
    color: #2d5be3;
    font-weight: bold;
}
.next-bottom {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
/*----------------------------------------------------------Profile Dash----------------------------------------------------------*/
.birthday-day {width: 500px;}
.birthday-month {width: 500px;}
.birthday-year {width: 500px;}

ul.sidebar {
    padding: 0;
}
ul.sidebar li {
    list-style: none;
    margin: 10px 0;
}
ul.sidebar li a {
    color: #000;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
    padding: 16px 15px 5px;
}
.profile-details {
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    padding: 40px 40px 10px;
}
.profile-form input {
    background-color: #FFF;
    border: 1px solid #adadad;
}


.birthdate .dropdown-menu {
    top: 33px;
}
.profile-details .dropdown-toggle {
    width: 130px;
    border-radius: 2px;
}
.profile-photo p {
    font-size: 14px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-profile {
    position: relative;
    overflow: hidden;
    border: 1px solid;
    border-radius: 2px;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    background: -webkit-linear-gradient(top, #FFF, #F6F7F8);
    background: -ms-linear-gradient(top, #FFFFFF, #f9f9f9);
    background: -moz-linear-gradient(top, #FFFFFF, #f9f9f9);
    background: -o-linear-gradient(top, #FFFFFF, #f9f9f9);
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f9f9f9');*/
}
.btn-profile input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.profileholder {
    background: #fafafa;
    padding: 10px;
}

.panel-heading {
    color: #333;
    background: #F4F5F6;
    border-bottom: 1px solid #E1E3E5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.57);
    font-weight: bold;
    box-shadow: none;
    font-size: 14px;
    color: #5A626B;
    padding: 15px 15px;
}
.btn-save {
    background: #F4511E;
    color: #FFF;
    border: 0;
    padding: 10px 40px;
    border-radius: 2px;
}

/*----------------------------------------------------------CITIES----------------------------------------------------------*/

.header-10-sub .background.citiesbg {
    background-image: url(../img/cities.jpg);
    opacity: 85;
    filter: alpha(opacity=8500);
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.fbsharebtn { padding:5px; background:#3b5999; color:#FFF; border-radius:1px; z-index:999}
.fbsharebtn:hover {background:#3b5999; color:#FFF; }


.city-title { margin:40px 0;}

.tourtypes {margin-bottom:40px;}
.tourtypes a {  opacity:0.5; font-size:14px; color:#000;}

.tourtypes a img{  margin-bottom:20px;}


.tourtypes a:hover { opacity: initial;}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.tourtypes a img{  opacity:0.5; margin-top:20px; margin-bottom:20px;}
.tourtypes a { font-size:16px;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.tourtypes a img{  opacity:0.5; margin-top:20px; margin-bottom:20px;}
.tourtypes a { font-size:16px;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.tourtypes a img{  opacity:0.5; margin-top:20px; margin-bottom:20px;}
.tourtypes a { font-size:20px;}
}




.city-package {    display: block;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; margin-bottom:40px;
    width: 350px;
  height: 350px;
  overflow-y: hidden;
  overflow-x: hidden;
    }
    
    .city-package img {
    max-width: inherit;
    }
    
.city-package .caption{    padding: 5px;}
.glyphicon-star-empty {color: #ffcd00;}










.highlight-list { padding:10px 0; border-bottom:1px solid #EEEEEE; display:block; }


.city-price { position: absolute;
        top: 293px;
    left: 200px; display:block;
    z-index:99;
    
     }

.city-price h4 { color:#000; background:#FFF; padding:5px;border: 1px solid #BDBDBD;    width: 160px; z-index:99;}
.city-price p { color:#FFF;}



/* Large desktops and laptops */
@media (min-width: 1200px) {
.city-info { position:absolute;top: 192px;
    left: 21px; display:block;}
    
    .city-price { position: absolute;
        top: 269px;
    left: 190px; display:block;
    z-index:99;
    
     }

    
}





/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.city-info {
    position: absolute;
    top: 192px;
    left: 21px;
    display: block;
}
.city-price {
    position: absolute;
    top: 269px;
    left: 200px;
    display: block;
    z-index: 99;
}
.city-price h4 { color:#000; font-size:18px; background:#FFF; padding:5px;border: 1px solid #BDBDBD; width: 135px; z-index:99;}
.city-price p { color:#FFF;}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .city-info {
    position: absolute;
    top: 192px;
    left: 21px;
    display: block;
}
.city-price {
    position: absolute;
    top: 269px;
    left: 200px;
    display: block;
    z-index: 99;
}
.city-price h4 { color:#000; font-size:18px; background:#FFF; padding:5px;border: 1px solid #BDBDBD; width: 135px; z-index:99;}
.city-price p { color:#FFF;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

.city-price {
    position: absolute;
    top: 269px;
    left: 200px;
    display: block;
    z-index: 99;
}
.city-price h4 { color:#000; font-size:18px; background:#FFF; padding:5px;border: 1px solid #BDBDBD; width: 135px; z-index:99;}
.city-price p { color:#FFF;}

}








.city-info h4 { color:#FFF;}
.city-info p { color:#FFF;}
.city-info .days {    background: #F4511E;
    width: 70px;padding: 2px 8px;}
    
    .banner-city-info {     background: rgba(0, 0, 0, 0.9);
    opacity: 0.5;
    position: absolute;
    top: -200px;
    left: 1px;
    height: 400px;}
    
    /* Portrait phones and smaller */
@media (max-width: 480px) {

.banner-city-info {     background: rgba(0, 0, 0, 0.9);
    opacity: 0.5;
    position: absolute;
    top: -217px;
    left: 1px;
    height: 400px;}
    

}

    
    
    
    
    
    
    .banner-city-info h1 {color:#FFF; z-index:99;}
    .banner-city-info h4 {color:#FFF; z-index:99;font-size: 18px;}
    .banner-city-info p {color:#FFF; z-index:99;    line-height: normal;}
    .banner-city-info h5 {color:#FFF; z-index:99;font-size: 14px;}
/*----------------------------------------------------------ABOUT----------------------------------------------------------*/

.subnav-dark .navbar-nav>li>a {
    color: #FFF;
}
/*----------------------------------------------------------ABOUT----------------------------------------------------------*/

.aboutus-content {
    min-height: 500px;
}
.contactus-content {
    min-height: 500px;
}
/*----------------------------------------------------------TERMS----------------------------------------------------------*/

.terms-content p {
    color: #212121;
}

.header-10 .navbar {
    height: 80px;
}

/*----------------------------------------------------------RECEIPT----------------------------------------------------------*/


         .receipt-bg {background-color: #fafafa}
         .receipt-content { padding:20px; margin:20px 40px 40px 40px; background-color: #fff;
         border: 1px solid #ddd;}
         .receipt-form {}
         .receipt-form.table>tbody>tr>td {border: 0;}
         .receipt-form.table>thead>tr>th {border: 0;}
         .receipt-form.table>tbody>tr>th{border: 0;}
         .biz-add {    padding-left: 9px;}
         .print-btn-receipt {    margin-top: 73px;}
         .receipt-header {padding: 20px;
         margin: 40px 40px -30px 40px;}
         
                  /*nav profile*/
                           .navbar .navbar-toggle {
         margin: 26px 0 10px;
         color: white;
         background: none;
         padding: 0;
         width: 30px;
         height: 30px;
         background: url("https://s3-us-west-2.amazonaws.com/travelog/assets/menu-icon-header-8.png") 50% no-repeat;
         }

.btn.btn-success.btn-search:focus {
    color: #ffffff;
    background-color: #BF360C;
    border-color: #BF360C;
}

.btn-success:focus, .btn-success.focus {
        color: #fff;
    background-color: #BF360C;
    border-color: #BF360C;
}

.btn-success:active, .btn-success.active {
     color: #fff;
    background-color: #BF360C;
    border-color: #BF360C;
}
.btn-success:active:hover, .btn-success:active:focus {
    color: #fff;
    background-color: #BF360C;
    border-color: #BF360C;
}

.result-content a {
    font-size: 17px;
}      

.header-10 .navbar .nav > li > a {
    color:#757575;
}
.top-trending {
    margin-top: 50px;
    margin-bottom: 50px;

}
.top-trending .featured-art{
    height: 344px;
    background-color: #EAEAEA;
}
.background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}
.ltlt-banner__island-love {
    background-image: url(https://a2.muscache.com/airbnb/static/homepages/love_this_live_there_banner/island-love-3296f50f3ac158b655aea7073f0671fa.jpg);
}
.ltlt-banner__media-container {
    height: 344px;
    position: relative;
}
.va-middle {
    vertical-align: middle;
}
.font-bold {
    font-weight: 700;
}
.text-contrast {
    color: #fff;
}
.va-top, .va-middle, .va-bottom {
    display: table-cell;
}
.text-center {
    text-align: center;
}
.va-container-h {
    width: 100%;
}

